<html lang="en" ng-app="aviationFX">
<head>
  <title>52°North aviationFX</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="css/angular-material-1.0.8.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/leaflet-0.7.7.css">
  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

  <div layout="row">
    <div ng-include="'templates/menu.html'"></div>
    <div flex layout="column" >
      <div ng-view flex layout="column"></div>
    </div>
  </div>

  <!-- <div ng-controller="MainController">
      <form>
          Latitude : <input step="any" ng-model="center.lat" type="number">
          Longitude : <input step="any" ng-model="center.lng" type="number">
          Zoom : <input step="any" ng-model="center.zoom" type="number">
      </form>
      <leaflet center="center"></leaflet>
  </div> -->




  <script src="js/lib/jquery-2.2.4.min.js"></script>
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.js"></script>
  <script src="js/lib/angular-websocket.js"></script>
  <script src="js/lib/ui-leaflet-1.0.1.min.js"></script>
  <script src="js/lib/leaflet-0.7.7.js"></script>
  <script src="js/lib/leaflet-rotated-marker.js"></script>
  <script src="js/lib/angular-simple-logger.js"></script>
  <script src="js/lib/angular-leaflet-popup-0.1.2.js"></script>

  <!-- Angular Material Library -->
  <script src="//cdn.gitcdn.link/cdn/angular/bower-material/v1.0.8/angular-material.js"></script>


  <script src="js/app.js"></script>
  <script src="js/controller/newSubscriptionController.js"></script>
  <script src="js/controller/mapController.js"></script>
  <script src="js/controller/menuController.js"></script>
  <script src="js/controller/toastController.js"></script>



</body>
</html>
