<md-dialog aria-label="" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Subscribe for data
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-set="material-icons">cancel</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" ng-show="airspace">
        <h2>Airspace identifier: {{airspace.data.identifier}}</h2>
        <p>
          You are about to subscribe for data of the chosen publication that intersect the airspace '{{airspace.data.identifier}}'.
        </p>
      </div>
      <div class="md-dialog-content" layout="column">
        <md-input-container>
          <label>PubSub Service</label>
          <md-select name="pubSub" ng-model="selectedService.host" required>
            <md-option ng-repeat="p in pubSub" value="{{p.host}}">{{p.host}}</md-option>
          </md-select>
        </md-input-container>
        <div>
          <div>
            <span ng-show="!selectedService.authenticated">No authentication required</span>
            <span ng-show="selectedService.authenticated">Authentication required!</span>
            <md-button class="md-icon-button" ng-click="updateServiceCredentials()">
              <md-icon md-font-set="material-icons">update</md-icon>
            </md-button>
          </div>
          <div layout="row">
            <md-input-container flex="50">
              <label>User</label>
              <input ng-model="selectedService.username" type="text" ng-disabled="!selectedService.authenticated">
            </md-input-container>
            <md-input-container flex="50">
              <label>Password</label>
              <input ng-model="selectedService.password" type="password" ng-disabled="!selectedService.authenticated">
            </md-input-container>
          </div>
        </div>
        <md-input-container>
          <label>Delivery Method</label>
          <md-select name="dm" ng-model="selectedService.deliveryMethod" required>
            <md-option ng-repeat="dm in selectedService.deliveryMethods" value="{{dm.identifier}}">{{dm.identifier}}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container>
          <label>Publication</label>
          <md-select name="pub" ng-model="selectedService.pubId" required>
            <md-option ng-repeat="pub in selectedService.publications" value="{{pub.identifier}}">{{pub.identifier}}</md-option>
          </md-select>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <span ng-show="subscribeSuccess">Success!</span>
      <md-button ng-click="subscribe()" ng-disabled="subscribeSuccess">
       Subscribe!
      </md-button>
      <md-button ng-click="cancel($event, 'shitty')">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
